[mysqld]

log_error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=2
log_queries_not_using_indexes=1

lower_case_table_names = 2

gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_checksum = NONE
log_slave_updates = ON
log_bin = binlog
binlog_format = ROW
transaction_write_set_extraction = XXHASH64
loose-group_replication_bootstrap_group = OFF
loose-group_replication_start_on_boot = ON
loose-group_replication_ssl_mode = REQUIRED
loose-group_replication_recovery_use_ssl = 1

loose-group_replication_group_name = "c4a14db2-fd4f-4139-b605-b0904d4d8b9c"
loose-group_replication_ip_whitelist = "172.20.0.2, 172.20.0.3, 172.20.0.4"
loose-group_replication_group_seeds = "172.20.0.2:33061, 172.20.0.3:33061, 172.20.0.4:33061"

# Single or Multi-primary mode? Uncomment these two lines
# for multi-primary mode, where any host can accept writes
loose-group_replication_single_primary_mode = OFF
loose-group_replication_enforce_update_everywhere_checks = ON

server_id = 2
bind-address = "172.20.0.4"
report_host = "172.20.0.4"
loose-group_replication_local_address = "172.20.0.4:33061"
